<div class="containee-fluid mt-5 service-style" id="serviceid">
    <div class="row">
        <div class="col-md-10  col-12 mx-auto">
            <h1 class="text-center main-heading">Our Services </h1>
            <p class="text-center sub-heading">grow your business with us</p>

            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon"> <img src="images/managed-services-icon.svg" height="50%" width="50%" align:"centre" > </div>
                            <h4>Settings</h4>
                            <p>The successful deployment of technologies across the IT & Digital landscape is an undeniable linchpin in your company’s successes or failures. Global Business Solutions engineers will partner with you to customize the suite of Managed Services that fit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services speedup">
                            <div class="icon"> <img src="images/IT-icon.svg" height="50%" width="50%"> </div>
                            <h4>Speedup</h4>
                            <p>Trust and reliability are Global Business Solutions cornerstones. Every GBS-designed IT infrastructure is optimized to be secure, stable and reliable.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services privacy">
                            <div class="icon"> <img src="images/voice-icon.svg" height="50%" width="50%"> </div>
                            <h4>Privacy</h4>
                            <p>Our voice solutions are the integration systems that tie your organization to clients, prospects and stakeholders in ways that maximize efficiency and productivity. Gone are the days where that system is simply a telephone. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services backups">
                            <div class="icon"> <img src="images/physical-security-icon.svg" height="50%" width="50%"> </div>
                            <h4>Backups</h4>
                            <p>GBS has been securing the physical premises of Greater Cincinnati businesses, schools, city governments, and regional attractions for decades. With a GBS designed and deployed Physical Security Solution – your organization will be safer, smarter and more efficient. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services ssl">
                            <div class="icon"> <img src="images/AVIT-icon.svg" height="50%" width="50%"> </div>
                            <h4>SSL secured</h4>
                            <p>No matter the size or complexity of the experience you want to create for your employees, guests and clients, Global Business Solutions AVIT experts know how to turn the complex into user simplicity.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services database">
                            <div class="icon"> <img src="images/cabling-icon.svg" height="50%" width="50%"> </div>
                            <h4>Database</h4>
                            <p>In the IT and A/V world, structured cabling is synonymous to your building’s foundation, it is the basis upon which the technology is built.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

